
/*=================Blog Section====================*/
#home .content {
    display: flex;
    flex-flow: row wrap;
    overflow-y: auto;
    max-height: 800px;
    margin: 0 auto 3rem auto;
    padding: 2.5rem;
    background-color: #7dd6d2ea;
    max-width: 70%;
}

#home label {
    display: flex;
    align-items: center;
    border: solid 1px rgb(255, 255, 255);
}
.input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3rem 12rem 1rem 12rem;
}


.input input.post {
    padding: 0.5rem 1rem;
    margin-bottom: 0;
    background-color: rgb(1, 1, 75);
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    border-radius: 15px;
    border: none;
    box-shadow: 0px 2px 10px 0px #015e0180;
    transition: transform 0.3s;
}
#home label input {
    border: solid 2px rgb(1, 1, 75);
    border-left: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    font-size: 20px;
    font-weight: 300;
    margin: auto 0;
    padding: 0.5rem 2rem;
}

/* CSS animation effect */

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }

}

.home_btn {
    font-size: 16px;
    font-weight: 700;
    padding: 1rem 2rem;
    animation: pulse 2s ease-in-out infinite;
}

.home_btn:hover {
    background-color: rgb(110, 110, 231);
}


#home label a {
    text-decoration: none;
    color: #fff;
    background-color: #1A3662;
    border: solid 2px #1A3662;
    border-right: none;
    align-items: center;
    text-align: center;
    font-size: 25px;
    font-weight: 400;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin: auto 0;
    padding: 0.23rem 1.8rem;
}

#home .content .blog {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    border: black solid 1px;
    border-radius: 25px;
    max-width: 300px;
    margin: 1rem;
    padding: 1rem 0.5rem;
}

.person {
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 0.5rem;
    padding: 0.5rem;

}

.person img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: 0.5rem;
    margin-right: 1rem;
}

.btn-form img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-top: 0.5rem;
}

.person h3 {
    font-size: 15px;
    margin-bottom: 0.5rem;
}

.person .date {
    font-size: 12px;
    font-weight: 300;
}

.typo img{
    width: 300px;
    height: 200px;
    border-radius: 10px;
}

.typo h2 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 1rem;
}

/* ==============About section============== */
.about {
    display: flex;
    justify-content: space-evenly;
    margin: 3rem auto;
    padding: 2.5rem;
    max-width: 75%;
}
.blogrammer {
    max-width: 45%;
    margin-left: 3rem;
}

.blogrammer .content p {
    font-size: 18px;
    font-weight: 300;
}

.blogrammer h2.title {
    font-size: 55px;
    font-weight: 700;
    margin-bottom: 2rem;
}
/* ==============Contact section============== */
.contact {
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: space-evenly;
    margin: 3rem auto;
    padding: 2.5rem;
    max-width: 70%;
}
.contact .comment h2{
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 2rem;
    max-width: 60%;
}
section h5 {
    font-weight: 400;
}
.contact .comment form{
    background-color: white;
}
.contact .comment form input, textarea{
    margin: 0.25rem 2rem;
    padding: 0.25rem 0.5rem;
    border: none;
    color: white;
    background-color: #a7b4b8;
    border-radius: 0.25rem;
}

/* ========================Contact form====================== */
form {
    background-color: #81f3edea;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: solid 2px #000;
    border-radius: 2rem;
    min-width: 350px;
    margin-bottom: 0.5rem;
    padding: 2rem;
}

input {
    text-align: left;
    font-size: 12px;
    margin: 0.5rem auto 1rem auto;
}

input.input_field {
    padding: 0.25rem;
    width: 100%;
    border-radius: 4px;
    border: none;
}

Button.btn_cancel:hover {
    background-color: rgba(250, 4, 4, 0.7);
    color: rgb(44, 252, 2);;
}

Button.btn_submit:hover {
    opacity: 0.8;
}
/* This css property applied to the image in both about and contact SECTION */
.image img {
    margin-right: 0;
    padding-right: 2rem;
    width: 400px;
    height: 375px;
}

.contact .image img {
    margin-top: 7rem;
}

input#agree {
    margin-bottom: 1rem;
}
.confirm_btn {
    display: flex;
    justify-content: space-evenly;
}
.confirm_btn .btn {
    border-radius: 30px;
}
.confirm_btn .btn_cancel {
    background-color: white;
    border: red solid 1px;
    color: red;
}
